<%- include('../layouts/header.ejs') %>
<style>
  #zoom-image-container {
        position: absolute;
        top: 190px;
        right: 50;
        left: 531px;
        width: 388px;
        height: 400px;
        overflow: hidden;
        opacity: 0;
        transition: opacity 0.3s;
        z-index: 0;
    }

    #product-carousel:hover+#zoom-image-container {
        opacity: 1;
    }

    #zoomed-image {
        width: 50%;
        height: auto;
        transform: scale(3);
        transition: transform 0.3s;
    }
</style>


<div class="py-4 border-bottom">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb mb-0"> 
          <li class="breadcrumb-item"><a href="javascript:;">Home</a></li>
          <li class="breadcrumb-item"><a href="javascript:;">Shop</a></li>
          <li class="breadcrumb-item active" aria-current="page">Page Details</li>
        </ol>
      </nav>
    </div>
   </div>

<section class="py-4">
    <div class="container">
       <div class="row g-4">


          <div class="col-12 col-xl-7">
            <div class="product-images">
                <div class="product-zoom-images">
                  <div class="row row-cols-2 g-3">
                 
               
                    <!-- <div class="col">
                      <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="a/images/product-images/03.jpg">
                        <img src="/ProductImages/<%= productDetails.fetchedProduct.images %>" class="img-fluid" alt="">
                      </div>
                    </div> -->

                    <!-- Assuming productDetails.fetchedProduct.images is an array of image paths -->




                    <!-- Display the top image in a larger format -->


                    <!-- Display the top image in a larger format -->
<div class="col">
  <div id="mainImageContainer" class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="<%= productDetails.fetchedProduct.images[0] %>"  >
    <img id="mainImage" src="/ProductImages/<%= productDetails.fetchedProduct.images[0] %>" class="img-fluid" alt=""  onmousemove="zoomImage(event, this)"
    onmouseleave="resetZoomedImage()">

    
  </div>


  <div id="zoom-image-container">
    <img id="zoomed-image" src="">
  </div>
</div>

<!-- Display the rest of the images below in smaller columns -->
<div class="row">
  <% for (var i = 0; i < productDetails.fetchedProduct.images.length; i++) { %>
    <div class="col-sm-3">
      <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="<%= productDetails.fetchedProduct.images[i] %>"  >
        <img class="img-thumbnail" src="/ProductImages/<%= productDetails.fetchedProduct.images[i] %>" alt="">
      </div>
    </div>
  <% } %>
</div>









<!-- <% productDetails.fetchedProduct.images.forEach(function(imagePath) { %>
  <div class="col">
    <div class="img-thumb-container overflow-hidden position-relative" data-fancybox="gallery" data-src="<%= imagePath %>"  >
      <img src="/ProductImages/<%= imagePath %>" class="img-fluid" alt="">
    </div>
  </div>
<% }); %> -->

               
                 
                   
                  </div><!--end row-->
                </div>
            </div>
          </div>
          <div class="col-12 col-xl-5">
            <div class="product-info">
                  <h4 class="product-title fw-bold mb-1"><%= productDetails.fetchedProduct.name %></h4>
                  <p class="mb-0"></p>

                  <!-- <div class="product-rating">
                    <div class="hstack gap-2 border p-1 mt-3 width-content">
                      <div><span class="rating-number">4.8</span><i class="bi bi-star-fill ms-1 text-warning"></i></div>
                      <div class="vr"></div>
                      <div>162 Ratings</div>
                    </div>
                  </div> -->

                  <hr>


                  <div class="product-price d-flex align-items-center gap-3">
                
                    <% if (productDetails.fetchedProduct.categoryofferPrice === 0 && productDetails.fetchedProduct.productofferPrice === 0) { %>
                      <div class="h4 fw-bold ">
                          ₹<%= productDetails.fetchedProduct.price %>
                      </div>
                     
                      <% } else { %>
                        <div class="h4 fw-bold">
                          ₹<%= productDetails.carttotal %>
                      </div>
                      <div class="h5 fw-light text-muted text-decoration-line-through">
                          <div class="h4 fw-bold">
                              ₹<%= productDetails.fetchedProduct.price %>
                          </div>
                      </div>


                    <% } %>
                </div>







                







                
             
                  <p class="fw-bold mb-0 mt-1 text-success">inclusive of all taxes</p>

                  <!-- <div class="more-colors mt-4">
                    <h6 class="fw-bold mb-3">More Colors</h6>
                    <div class="d-flex align-items-center gap-3">
                      <div class="">
                        <a href="javascript:;">
                          <img src="/images/featured-products/01.webp" width="65" alt="">
                        </a>
                      </div>
                      <div class="">
                        <a href="javascript:;">
                          <img src="/images/featured-products/02.webp" width="65" alt="">
                        </a>
                      </div>
                      <div class="">
                        <a href="javascript:;">
                          <img src="/images/featured-products/03.webp" width="65" alt="">
                        </a>
                      </div>
                      <div class="">
                        <a href="javascript:;">
                          <img src="/images/featured-products/04.webp" width="65" alt="">
                        </a>
                      </div>
                    </div>
                  </div> -->
                    
                  <div class="size-chart mt-4">
                    <h6 class="fw-bold mb-3">Select Size</h6>
                    <div class="d-flex align-items-center gap-2 flex-wrap">
                     <div class="">
                       <button type="button"><%= productDetails.fetchedProduct.size %></button>
                     </div>
                    
                  
                   
                   </div>
                  </div>
                  <div class="cart-buttons mt-3">
                    <div class="buttons d-flex flex-column flex-lg-row gap-3 mt-4">


                    <% if (productDetails.fetchedProduct.countInStock >= 1) { %>
                      <form action="/add-to-cart/<%= productDetails.fetchedProduct._id %>" method="POST">
                        <!-- Product details (you may need to adjust the names based on your requirements) -->
                        <button type="submit" class="btn btn-lg btn-dark btn-ecomm px-5 py-3 w-100">
                          <i class="bi bi-basket2 me-2"></i>Add to Bag
                        </button>
                      </form>
                    <% } else { %>
                      <p class="text-danger">Out of Stock</p>
                    <% } %>
                    
                    
                      <a href="javascript:;" class="btn btn-lg btn-outline-dark btn-ecomm px-5 py-3"><i class="bi bi-suit-heart me-2"></i>Wishlist</a>
                    </div>
                  </div>
                  <hr class="my-3">
                  <div class="product-info">
                    <h6 class="fw-bold mb-3">Product Details</h6>
                     <p class="mb-1"><%= productDetails.fetchedProduct.description %></p>
                     
                  </div>
                  <hr class="my-3">


                  <!-- <div class="customer-ratings">
                    <h6 class="fw-bold mb-3">Customer Ratings</h6>
                      <div class="d-flex align-items-center gap-4 gap-lg-5 flex-wrap flex-lg-nowrap">
                        <div class="">
                          <h1 class="mb-2 fw-bold">4.8<span class="fs-5 ms-2 text-warning"><i class="bi bi-star-fill"></i></span></h1>
                          <p class="mb-0">3.8k Verified Buyers</p>
                        </div>
                        <div class="vr d-none d-lg-block"></div>
                        <div class="w-100">
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">5</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 75%"></div>
                            </div>
                            <p class="mb-0">1528</p>
                          </div>
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">4</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-success" role="progressbar" style="width: 65%"></div>
                            </div>
                            <p class="mb-0">253</p>
                          </div>
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">3</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-info" role="progressbar" style="width: 45%"></div>
                            </div>
                            <p class="mb-0">258</p>
                          </div>
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">2</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-warning" role="progressbar" style="width: 35%"></div>
                            </div>
                            <p class="mb-0">78</p>
                          </div>
                          <div class="rating-wrrap hstack gap-2 align-items-center">
                            <p class="mb-0">1</p>
                            <div class=""><i class="bi bi-star"></i></div>
                            <div class="progress flex-grow-1 mb-0 rounded-0" style="height: 4px;">
                              <div class="progress-bar bg-danger" role="progressbar" style="width: 25%"></div>
                            </div>
                            <p class="mb-0">27</p>
                          </div>
                        </div>
                      </div>
                  </div> -->

                  <hr class="my-3">
<!--                   
                  <div class="customer-reviews">
                    <h6 class="fw-bold mb-3">Customer Reviews (875)</h6>
                    <div class="reviews-wrapper">
                      <div class="d-flex flex-column flex-lg-row gap-3">
                        <div class=""><span class="badge bg-green rounded-0">5<i class="bi bi-star-fill ms-1"></i></span></div>
                        <div class="flex-grow-1">
                          <p class="mb-2">This is some content from a media component. You can replace this with any content and adjust it as needed. Some quick example text to build on the card title and make.</p>
                          <div class="review-img">
                            <img src="/images/featured-products/05.webp" alt="" width="70">
                          </div>
                          <div class="d-flex flex-column flex-sm-row gap-3 mt-3">
                            <div class="hstack flex-grow-1 gap-3">
                              <p class="mb-0">Jhon Deo</p>
                              <div class="vr"></div>
                              <div class="date-posted">12 June 2020</div>
                            </div>
                            <div class="hstack">
                              <div class=""><i class="bi bi-hand-thumbs-up me-2"></i>68</div>
                              <div class="mx-3"></div>
                              <div class=""><i class="bi bi-hand-thumbs-down me-2"></i>24</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="d-flex flex-column flex-lg-row gap-3">
                        <div class=""><span class="badge bg-green rounded-0">4<i class="bi bi-star-fill ms-1"></i></span></div>
                        <div class="flex-grow-1">
                          <p class="mb-2">This is some content from a media component. You can replace this with any content.</p>
                          <div class="review-img">
                            <img src="/images/featured-products/02.webp" alt="" width="70">
                          </div>
                          <div class="d-flex flex-column flex-sm-row gap-3 mt-3">
                            <div class="hstack flex-grow-1 gap-3">
                              <p class="mb-0">Jhon Deo</p>
                              <div class="vr"></div>
                              <div class="date-posted">15 June 2020</div>
                            </div>
                            <div class="hstack">
                              <div class=""><i class="bi bi-hand-thumbs-up me-2"></i>58</div>
                              <div class="mx-3"></div>
                              <div class=""><i class="bi bi-hand-thumbs-down me-2"></i>34</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="d-flex flex-column flex-lg-row gap-3">
                        <div class=""><span class="badge bg-warning rounded-0 text-dark">3<i class="bi bi-star-fill ms-1"></i></span></div>
                        <div class="flex-grow-1">
                          <p class="mb-2">This is some content from a media component. You can replace this with any content and adjust it as needed.</p>
                          <div class="review-img">
                            <img src="/images/featured-products/04.webp" alt="" width="70">
                          </div>
                          <div class="d-flex flex-column flex-sm-row gap-3 mt-3">
                            <div class="hstack flex-grow-1 gap-3">
                              <p class="mb-0">Jhon Deo</p>
                              <div class="vr"></div>
                              <div class="date-posted">22 June 2022</div>
                            </div>
                            <div class="hstack">
                              <div class=""><i class="bi bi-hand-thumbs-up me-2"></i>98</div>
                              <div class="mx-3"></div>
                              <div class=""><i class="bi bi-hand-thumbs-down me-2"></i>41</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="d-flex flex-column flex-lg-row gap-3">
                        <div class=""><span class="badge bg-danger rounded-0">2<i class="bi bi-star-fill ms-1"></i></span></div>
                        <div class="flex-grow-1">
                          <p class="mb-2">You can replace this with any content and adjust it as needed. Some quick example text to build on the card title and make.</p>
                          <div class="review-img">
                            <img src="/images/featured-products/01.webp" alt="" width="70">
                          </div>
                          <div class="d-flex flex-column flex-sm-row gap-3 mt-3">
                            <div class="hstack flex-grow-1 gap-3">
                              <p class="mb-0">Jhon Deo</p>
                              <div class="vr"></div>
                              <div class="date-posted">22 June 2022</div>
                            </div>
                            <div class="hstack">
                              <div class=""><i class="bi bi-hand-thumbs-up me-2"></i>26</div>
                              <div class="mx-3"></div>
                              <div class=""><i class="bi bi-hand-thumbs-down me-2"></i>89</div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="text-center">
                        <a href="javascript:;" class="btn btn-ecomm btn-outline-dark">View All Reviws<i class="bi bi-arrow-right ms-2"></i></a>
                      </div>
                    </div>
                  </div> -->
            </div>
          </div>
       </div><!--end row-->
    </div>
  </section>
   <!--start product details-->


  <!--start product details-->
  <!-- <section class="section-padding">
    <div class="container">
      <div class="separator pb-3">
        <div class="line"></div>
        <h3 class="mb-0 h3 fw-bold">Similar Products</h3>
        <div class="line"></div>
      </div>
      <div class="similar-products">
        <div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 row-cols-xl-4 row-cols-xxl-5 g-4">
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="/images/best-sellar/03.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="/images/new-arrival/02.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="/images/best-sellar/02.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="/images/new-arrival/04.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
           </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="/images/new-arrival/05.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
             </div>
             </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="/images/trending-product/03.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
             </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="/images/featured-products/05.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
           </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="/images/trending-product/05.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
           </a>
          </div>
          <div class="col">
            <a href="javascript:;">
            <div class="card rounded-0">
              <img src="/images/trending-product/01.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
            </a>
          </div>
          <div class="col">
            <a href="javascript:;">
             <div class="card rounded-0">
              <img src="/images/trending-product/02.webp" alt="" class="card-img-top rounded-0">
              <div class="card-body border-top">
                <h5 class="mb-0 fw-bold product-short-title">Syndrona</h5>
                <p class="mb-0 product-short-name">Color Printed Kurta</p>
                <div class="product-price d-flex align-items-center gap-3 mt-2">
                  <div class="h6 fw-bold">$458</div>
                  <div class="h6 fw-light text-muted text-decoration-line-through">$2089</div>
                  <div class="h6 fw-bold text-danger">(70% off)</div>
                </div>
              </div>
            </div>
           </a>
          </div>

  
        </div>
      
      </div>
    </div>
  </section> -->
  <!--end product details-->

  
 </div>



 <!-- Include jQuery library -->
<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>

<script>
$(document).ready(function() {
  // Store the initial source of the main image
  var initialMainImageSrc = $('#mainImage').attr('src');

  // Attach a click event to each bottom image
  $('.img-thumbnail').on('click', function() {
    // Get the source of the clicked image
    var clickedSrc = $(this).attr('src');

    // Update the source of the top image
    $('#mainImage').attr('src', clickedSrc);
  });

  // Reset the top image to the initial source when closing the fancybox
  $("[data-fancybox]").fancybox({
    beforeShow: function(instance, current) {
      // Store the current source before showing
      current.opts.$origSrc = $('#mainImage').attr('src');
    },
    afterClose: function(instance, current) {
      // Restore the original source after closing
      $('#mainImage').attr('src', current.opts.$origSrc || initialMainImageSrc);
    }
  });
});
</script>

<script>
  function zoomImage(event, element) {
        var zoomedImage = document.getElementById('zoomed-image');
        var zoomedImageContainer = document.getElementById('zoom-image-container')

        // Calculate the position of the mouse pointer relative to the image
        var x = event.offsetX / element.offsetWidth;
        var y = event.offsetY / element.offsetHeight;

        // Set the zoomed image source to the clicked image source
        zoomedImage.src = element.src;

        // Adjust the transform origin based on the mouse pointer position
        zoomedImage.style.transformOrigin = (x * 100) + '% ' + (y * 100) + '%';

        // Apply the zoom effect by scaling the image
        zoomedImage.style.transform = 'scale(2)'; // Adjust the zoom level as desired

        // Change z-index to 999 on mouse hover
        zoomedImageContainer.style.zIndex = 5000;
        zoomedImageContainer.style.opacity = 1;
    }

    function resetZoomedImage() {
        var zoomedImageContainer = document.getElementById('zoom-image-container')
        zoomedImageContainer.style.transform = 'none';
        // Reset z-index to its initial value on mouse leave
        zoomedImageContainer.style.zIndex = 1;
        zoomedImageContainer.style.opacity = 0;
    }
</script>


<%- include('../layouts/footer.ejs') %>

